
dist
temp
debugger_app

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.history

# expo
.expo

# dependencies
node_modules

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

meishi-cli*.log

.history/
gulp.config.js
fis3.config.js
stats.json
yarn.lock